{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari 7"]
      }
    }],
    "react",
    "flow"
  ],
  "plugins": [
    "transform-flow-strip-types"
  ],
  "env": {
    "test": {
      "plugins": [
        ["babel-plugin-webpack-alias"]
      ]
    }
  }
}
