{
  "presets": [
    "es2015",
    "stage-1",
    "react",
  ],
  "plugins": [
    "transform-flow-strip-types"
  ],
  "env": {
    "test": {
      "plugins": [
        ["babel-plugin-webpack-alias"]
      ]
    }
  }
}
