{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "mocha"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore"
    }],
    "mocha/no-exclusive-tests": 1,
    "import/first": 0,
    "import/no-extraneous-dependencies": ["error", { devDependencies: true }],
    "import/prefer-default-export": 0,
    "react/prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "semi": [2, "never"],
    "no-underscore-dangle": 0,
    "no-use-before-define": [2, {functions: false}],
    "no-unused-expressions": ["error", { "allowTaggedTemplates": true }],
    "react/sort-comp": [ 2, {
      "order": [
        "defaultProps",
        "props",
        "state",
        "static-methods",
        "constructor",
        "lifecycle",
        "/^on.+$/",
        "everything-else",
        "/^render.+$/",
        "render"
      ],
    }],
    "no-duplicate-imports": 0,
    "no-confusing-arrow": 0,
    "no-unused-vars": [
      "error", {
        vars: "local",
        args: "after-used",
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_",
      }
    ],
  },
  "globals": {
    "describe": true,
    "it": true,
    "before": true,
    "beforeEach": true,
    "afterEach": true,
    "context": true,
    "$": true,
    "ReactClass": true,
    "React": true,
    "Provider": true,
    "shallow": true,
    "mount": true,
    "expect": true,
    "createSpy": true,
    "spyOn": true,
    "fetchMock": true,
  }
}
